<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:spring="http://www.w3.org/1999/XSL/Transform"
      xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head th:replace="blocks/fragments :: head('Admin - User')"></head>

<body>
<div class="container">
    <br>
    <h3>Add User</h3>
    <hr/>
    <form th:action="@{/admin/users/add}" th:object="${addUser}" method="post">
        <table class="table table-bordered table-striped">
            <thead style="text-align: center">
            <tr>
                <th>Login</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            <tr>
                <td>
                    <label>
                        <input type="text" th:field="*{login}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{email}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{password}">
                    </label>
                </td>
                <td>
                    <select name="role">
                        <option th:each="roleList : ${T(com.khomsi.site_project.entity.Role).values()}"
                                th:value="${roleList}" th:text="${roleList}"></option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>

        <div th:object="${addUserDetails}">
            <hr/>
            <h3>Add UserDetails</h3>
            <hr/>
            <table class="table table-bordered table-striped">
                <thead style="text-align: center">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Phone</th>
                </tr>
                </thead>
                <tbody style="text-align: center">
                <tr>
                    <td>
                        <label>
                            <input type="text" th:field="*{name}">
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="text" th:field="*{surname}">
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="text" th:field="*{phone}">
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="display: flex; justify-content: flex-end">
            <input type="submit" value="Add Information">
        </div>
    </form>
    <div>
        <form th:action="@{/admin/users}" method="get">
            <input type="submit" value="Return to user page">
        </form>
    </div>
    <br>
    <div>
        <form th:action="@{/admin/user_details}" method="get">
            <input type="submit" value="Return to usersDetails page">
        </form>
    </div>
    <br>
</div>
</body>
</html>