<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/fragments :: head('Admin - User Details')"></head>


<body>
<div class="container">
    <br>
    <h3>Update User</h3>
    <hr/>
    <form th:action="@{/admin/user_details/save(id=${updateUserDetails.id})}"
          th:object="${updateUserDetails}" method="post">
        <table class="table table-bordered table-striped">
            <thead style="text-align: center">
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>City</th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            <tr>
                <td>
                    <label>
                        <input type="text" th:field="*{name}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{surname}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{phone}">
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <input type="submit" value="Update">
        </div>
        <br>
    </form>
    <div>
        <form th:action="@{/admin/user_details}" method="get">
            <input type="submit" value="Return to userInfo page">
        </form>
    </div>
    <br>
</div>
</body>
</html>