<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="blocks/fragments :: head('User Profile - SENKO', 'none')"></head>
<body>
<div th:replace="blocks/fragments :: navbar"></div>
<div class="container">
    <div class="row">
        <div class="col table-responsive">
            <br>
            <h2 class="border-light mb-3">[[#{label.welcome}]] <span th:text="${user.userInfo.name}"></span>!</h2>
            <table id="user_main" class="table table-striped text-center">
                <thead>
                <tr>
                    <th>[[#{userMain.login}]]</th>
                    <th>[[#{userMain.password}]]</th>
                    <th>[[#{userMain.name}]]</th>
                    <th>[[#{userMain.surname}]]</th>
                    <th>[[#{userMain.phone}]]</th>
                    <th>[[#{userMain.email}]]</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${user}">
                    <td th:text="${user.login}"></td>
                    <td>******</td>
                    <td th:text="${user.userInfo.name}"></td>
                    <td th:text="${user.userInfo.surname}"></td>
                    <td th:text="${user.userInfo.phone}"></td>
                    <td th:text="${user.email}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="float-right btn-responsive">
        <a href="/profile/edit/" class="btn custom_buttons btn-md my-0 p rounded">
            <span>[[#{userMain.editBtn}]]</span>
        </a>
        <a href="/" class="btn custom_buttons btn-md my-0 p rounded">
            <span>[[#{userMain.returnBtn}]]</span>
        </a>
    </div>
    <br>
    <br>
</div>
<footer th:insert="~{blocks/fragments :: footer}"></footer>
<div th:insert="~{blocks/fragments :: scripts}"></div>
</body>
</html>