<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Forbidden page</title>
    <link rel="stylesheet" th:href="@{/css/error-404.css}"/>
    <script type="text/javascript" th:src="@{/js/error-404.js}"></script>
</head>
<body>
<div class="container">
    <h1 class="first-four">4</h1>
    <div class="cog-wheel1">
        <div class="cog1">
            <div class="top"></div>
            <div class="down"></div>
            <div class="left-top"></div>
            <div class="left-down"></div>
            <div class="right-top"></div>
            <div class="right-down"></div>
            <div class="left"></div>
            <div class="right"></div>
        </div>
    </div>

    <div class="cog-wheel2">
        <div class="cog2">
            <div class="top"></div>
            <div class="down"></div>
            <div class="left-top"></div>
            <div class="left-down"></div>
            <div class="right-top"></div>
            <div class="right-down"></div>
            <div class="left"></div>
            <div class="right"></div>
        </div>
    </div>
    <h1 class="second-four">4</h1>
    <p class="wrong-para">Uh Oh! Page not found!</p>
    <a href="/" class="link-button">Go to Home Page</a>
</div>
</body>
</html>