@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    /*Color for all text*/
    /*color: #fff;*/
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.wrapper {
    /*Color bg of navbar*/
    background: #171c24;
    position: relative;
    top: 0;
    width: 100%;
}

.wrapper nav {
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    justify-content: space-between;
}

nav .content1 {
    display: flex;
    align-items: center;
}

nav .content1 .links {
    margin-left: 80px;
    display: flex;
}

/*TODO change it to the picture css settings*/
.content1 .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}

nav .content1 .links li {
    list-style: none;
    line-height: 70px;
}

/*Additional css
Shopping cart
*/

.wrapper .show-cart {
    display: flex;
    margin-left: auto;
    padding: 9px 17px;
}

.shopping-cart-button {

    /*Links color*/
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    background: #171c24;
    /*Animation when your cursor gets to buttons*/
    transition: all 0.3s ease;
    border: none;
}

.shopping-cart-button i {
    margin-right: 0.5rem;
}


.content1 .links li a,
.content1 .links li label {
    /*Links color*/
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    /*Animation when your cursor gets to buttons*/
    transition: all 0.3s ease;
}

.content1 .links li label {
    display: none;
}

.shopping-cart-button:hover,
.content1 .links li:hover a:hover,
.content1 .links li label:hover {
    /*bg color when your cursor is on btn*/
    background: #323c4e;
}

.wrapper .search-icon,
.wrapper .menu-icon {
    /*Loop color*/
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}

.wrapper .menu-icon {
    display: none;
}

/*Show cross when the loop is pressed*/
.wrapper #show-search:checked ~ .search-icon i::before {
    /*fontAwesome icon unicode*/
    content1: "\f00d";
}

.wrapper .search-box {
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}


.wrapper #show-search:checked ~ .search-box {
    opacity: 1;
    pointer-events: auto;
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: #fff;
    background: #171c24;
    padding: 0 100px 0 15px;
}

.search-box input::placeholder {
    color: #f2f2f2;
}

.search-box .go-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: #171c24;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.wrapper input[type="checkbox"] {
    display: none;
}

/*Drop down menu code starts*/
.content1 .links ul {
    position: absolute;
    background: #171c24;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.content1 .links li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.content1 .links ul li a {
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px !important;
}

.content1 .links ul ul {
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}

.content1 .links ul li {
    position: relative;
}

.content1 .links ul li:hover ul {
    top: 0;
}

/*Responsive code starts*/
@media screen and (max-width: 1250px) {
    .wrapper nav {
        max-width: 100%;
        padding: 0 20px;
    }

    nav .content1 .links {
        margin-left: 30px;
    }

    .content1 .links li a {
        padding: 8px 13px;
    }

    .wrapper .search-box {
        max-width: calc(100% - 100px);

    }

    .wrapper .search-box input {
        padding: 0 100px 0 15px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper .menu-icon {
        display: block;
    }

    .wrapper #show-menu:checked ~ .menu-icon i::before {
        content1: "\f00d";
    }

    nav .content1 .links {
        display: block;
        position: fixed;
        /*bg of links drop menu*/
        background: #14181f;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }

    nav #show-menu:checked ~ .content1 .links {
        left: 0%;
    }

    .content1 .links li {
        margin: 15px 20px;
    }

    .content1 .links li a,
    .content1 .links li label {
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }

    .content1 .links li a.desktop-link {
        display: none;
    }

    /*Responsive dropdown code starts*/
    .content1 .links ul,
    .content1 .links ul ul {
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }

    .content1 .links #show-categories:checked ~ ul,
    .content1 .links #show-products:checked ~ ul {
        max-height: 100vh;
    }

    .content1 .links ul li {
        margin: 7px 20px;
    }

    .content1 .links ul li a {
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px !important;
    }
}

@media screen and (max-width: 400px) {
    .wrapper nav {
        padding: 0 10px;
    }

    /*todo для гифки другие настройки*/
    .content1 .logo a {
        font-size: 27px;
    }

    .wrapper .search-box {
        max-width: calc(100% - 70px);
    }

    .wrapper .search-box .go-icon {
        width: 30px;
        right: 0;
    }

    .wrapper .search-box input {
        padding-right: 30px;
    }
}

/*Footer code starts*/

footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #171c24;
    color: #fff;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 30%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content2 {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content2:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #2C2B2B;
}

.box .content2:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
}

.left .content2 p {
    text-align: justify;
}

.left .content2 .social {
    margin: 20px 0 0 0;
}

.left .content2 .social a {
    padding: 0 2px;
    color: #fff;
}

.left .content2 .social a span {
    height: 40px;
    width: 40px;
    background: #2C2B2B;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.left .content2 .social a span:hover {
    background: #f12020;
}

.center .content2 .fas {
    font-size: 1.4375rem;
    background: #2C2B2B;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s ease;
    cursor: pointer;
}

.center .content2 .fas:hover {
    background: #f12020;
}

.center .content2 .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content2 .phone {
    margin: 15px 0;
}

.right .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #2C2B2B;
}

.right .content2 .location .google_map {
    width: 300px;
    height: 200px;
    border: 0;
    /*padding-left: 10px;*/
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #2C2B2B;
}

.bottom center span {
    color: #656565;
}

.bottom center a {
    color: #f12020;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1250px) {
    footer {
        bottom: 0;
        /*color: #707070;*/
        /*height: 2em;*/
        left: 0;
        /*position: fixed; !* OldProperty *!*/
        position: static; /* Updated Property */
        /*font-size: small;*/
        width: 100%;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 0px 0;
    }

    /*.right .content2 .location .google_map {*/
    /*    position: relative;*/
    /*    width: 400px;*/
    /*    height: 300px;*/
    /*    border-radius: 100%;*/
    /*    -moz-border-radius: 100%;*/
    /*    -webkit-border-radius: 100%;*/
    /*    margin-left: auto;*/
    /*    margin-right: auto;*/
    /*    margin-bottom: auto;*/
    /*    z-index: 2;*/
    /*}*/
}

/*Footer adaptation starts*/
@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }
}

