<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/fragments :: head('Admin - Product')"></head>
<body>
<div class="container">
    <br>
    <h3>Add Product</h3>
    <hr/>
    <form th:action="@{/admin/products/save}" th:object="${addProduct}" method="post">
        <table class="table table-bordered table-striped">
            <thead style="text-align: center">
            <tr>
                <th>Title</th>
                <th>Alias</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image URL</th>
                <th>Vendor</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            <tr>
                <td>
                    <label>
                        <input type="text" th:field="*{title}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{alias}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{description}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="number" th:field="*{price}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{imageURL}">
                    </label>
                </td>
                <td>
                    <select th:field="*{vendor}">
                        <th:block th:each="vendor : ${vendorList}">
                            <option th:value="${vendor.id}">[[${vendor.title}]]</option>
                        </th:block>
                    </select>
                </td>
                <td>
                    <select th:field="*{category}">
                        <th:block th:each="category : ${categoryList}">
                            <option th:value="${category.id}">[[${category.title}]]</option>
                        </th:block>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <input type="submit" value="Add product">
        </div>
        <br>
    </form>
    <div>
        <form th:action="@{/admin/products}" method="get">
            <input type="submit" value="Return to product page">
        </form>
    </div>
    <br>
</div>
</body>
</html>