<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/fragments :: head('Admin - Product')"></head>
<body>

<div class="container">
    <br>
    <h3>Add Product</h3>
    <hr/>
    <form th:action="@{/admin/products/save}" onsubmit="return checkUnique(this)" th:object="${product}" method="post">
        <table class="table table-bordered table-striped">
            <thead style="text-align: center">
            <tr>
                <th>Title</th>
                <th>Alias</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image URL</th>
                <th>Vendor</th>
                <th>Category</th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            <tr>
                <td>
                    <label>
                        <input type="text" th:field="*{title}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{alias}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{description}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="number" th:field="*{price}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{imageURL}">
                    </label>
                </td>
                <td>
                    <select th:field="*{vendor}">
                        <th:block th:each="vendor : ${vendorList}">
                            <option th:value="${vendor.id}">[[${vendor.title}]]</option>
                        </th:block>
                    </select>
                </td>
                <td>
                    <select th:field="*{category}">
                        <th:block th:each="category : ${categoryList}">
                            <option th:value="${category.id}">[[${category.title}]]</option>
                        </th:block>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <input type="submit" value="Add product">
        </div>
        <br>
    </form>
    <div>
        <form th:action="@{/admin/products}" method="get">
            <input type="submit" value="Return to product page">
        </form>
    </div>
    <br>
</div>
<div th:insert="~{blocks/fragments :: scripts}"></div>
<script type="text/javascript">
    var productId = "[[${product.id}]]";
    var productName = "[[${product.title}]]";
</script>
<!--Script to check unique product-->
<script type="text/javascript">
    function checkUnique(form) {
        productId = $("#id").val();
        productName = $("#title").val();

        csrfValue = $("input[name='_csrf']").val();

        url = "[[@{/products/check_unique}]]"

        params = {id: productId, title: productName, _csrf: csrfValue};

        $.post(url, params, function (response) {
            if (response == "OK") {
                form.submit();
            } else if (response == "Duplicate") {
                showWarningModal("There is another product with title " + productName)
            } else {
                showErrorModal("Unknown response from server")
            }
        }).fail(function () {
            showErrorModal("Could not connect to server")
        });
        return false;
    }

    function showModalDialog(title, message) {
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        $("#myModal").modal();
    }

    function showErrorModal(message) {
        showModalDialog("Error", message);
    }

    function showWarningModal(message) {
        showModalDialog("Warning", message);
    }
</script>
<!-- Modal section-->
<div th:replace="blocks/fragments :: showModal"></div>
</body>
</html>