<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All products</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <br>
    <h3>Products List</h3>
    <hr/>
    <div>
        <form th:action="@{/admin/addProduct}" method="get">
            <input type="submit" value="Add Product">
        </form>
    </div>
    <br><br>
    <table class="table table-bordered table-striped">
        <thead style="text-align: center">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Vendor id</th>
            <th>Category id</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody style="text-align: center">
        <tr th:each="product : ${allProducts}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.title}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product?.vendor?.id}"></td>
            <td th:text="${product?.category?.id}"></td>
            <td>
                <form th:action="@{/admin/allProducts/{id}(id=${product.id})}" method="get">
                    <input type="submit" value=Update>
                </form>
            </td>
            <td>
                <form th:action="@{/admin/allProducts/{id}/delete(id=${product.id})}" method="post">
                    <input type="submit" value=Delete>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <form th:action="@{/admin}" method="get">
            <input type="submit" value="Return to mage page">
        </form>
    </div>
    <br>
</div>
</body>
</html>