<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="blocks/main-tools :: head"></head>
<body>
<div th:insert="~{blocks/main-tools :: scripts}"></div>
<div th:replace="blocks/main-tools :: navbar"></div>

<div class="container">
    <br>
    <h3>Welcome to the store!</h3>
    <hr/>
</div>
<!--    <div sec:authorize="hasAuthority('ADMIN')">-->
<!--        <form th:action="@{/admin}" method="get">-->
<!--            <input type="submit" value="Admin page"/>-->
<!--        </form>-->
<!--    </div>-->
<!--    <br>-->
<!--    <div sec:authorize="isAnonymous()">-->
<!--        <form th:action="@{/login}" method="get">-->
<!--            <input type="submit" value="Login"/>-->
<!--        </form>-->
<!--    </div>-->
<!--    <br>-->
<!--    <br>-->
<!--    <div sec:authorize="isAuthenticated()">-->
<!--        <form th:action="@{/logout}" method="get">-->
<!--            <input type="submit" value="Log out"/>-->
<!--        </form>-->
<!--    </div>-->
<!--    <br>-->
<!--    <form th:action="@{/catalog}" method="get">-->
<!--        <input type="submit" value="Catalog"/>-->
<!--    </form>-->
<!--    <br>-->
<!--    <form th:action="@{/basket}" method="get">-->
<!--        <input type="submit" value="Card"/>-->
<!--    </form>-->
<!--    <br>-->
<!--    <div sec:authorize="isAnonymous()">-->
<!--        <form th:action="@{/orders}" method="get">-->
<!--            <input type="submit" value="Orders"/>-->
<!--        </form>-->
<!--    </div>-->
<!--    <br>-->
<!--    <div sec:authorize="isAuthenticated()">-->
<!--        <form th:action="@{/profile}" method="get">-->
<!--            <input type="submit" value="Profile"/>-->
<!--        </form>-->
<!--    </div>-->
<!--    <br>-->
<!--</div>-->
<footer th:insert="~{blocks/main-tools :: footer}"></footer>
</body>
</html>