<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="blocks/main-tools :: head"></head>

<!--<link rel="stylesheet" th:href="@{/css/shopping-cart.css}"/>-->

<body>
<!--Scripts-->
<div th:insert="~{blocks/main-tools :: scripts}"></div>
<script th:src="@{/js/quantity_control.js}"></script>
<script th:src="@{/js/added_to_cart.js}"></script>
<script> var productId = "[[${product.id}]]";</script>

<!--NavBar-->
<div th:replace="blocks/main-tools :: navbar"></div>

<!-- Modal section-->
<div th:replace="/blocks/modal-fragments :: showModal"></div>
<div th:replace="blocks/breadcrumb :: content"></div>

<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img th:src="'/product-images/'+${product.imageURL}" width="350"/></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder"><span th:text="*{product.title}"></span></h1>
                <div class="fs-2 mb-5">
                    <span th:text="*{product.price}"></span>₴
                </div>
                <p class="lead"><span th:text="*{product.description}"></span></p>
                <div class="d-flex">
                    <div th:replace="/blocks/quantity_control :: quantity_control(1, ${product.id})"
                         style="max-width: 3rem">
                    </div>
                </div>
                <div>
                    <button class="btn btn-outline-dark flex-shrink-0" type="submit" id="addToCartBtn">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>

</section>
<footer th:insert="~{blocks/main-tools :: footer}"></footer>
</body>
</html>
