<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="blocks/fragments :: head('Registration - SENKO', 'none')"></head>
<body>
<div th:replace="blocks/fragments :: navbar"></div>

<div class="container mt-2 mb-4">
    <div class="row justify-content-md-center">
        <div class="col-sm-4 border border-dark shadow rounded pt-2">
            <div class="text-center"><img th:src="@{/assets/favicon.png}" class="p-1 mb-1"></div>
            <div class="col-sm-12">
                <form th:action="@{/registration}" onsubmit="return checkLogin(this);" th:object="${user}"
                      method="post">
                    <div class="form-group">
                        <label class="font-weight-bold">[[#{reg.email}]]</label>
                        <div class="input-group mb-1">
                            <input type="email" name="email" id="email" class="form-control"
                                   placeholder="Enter valid email" th:field="*{email}">
                        </div>
                        <div class="input-group-append d-flex justify-content-center">
                            <button type="button" class="regButton rounded" onClick="return emailCheck();"><i
                                    class="fa fa-envelope"></i></button>
                        </div>
                    </div>
                    <div id="next-form" class="collapse">
                        <div class="form-group">
                            <label class="font-weight-bold">[[#{reg.userName}]] <small class="text-danger">
                                <em>[[#{reg.userNotification}]]</em></small></label>
                            <input type="text" class="form-control"
                                   th:attr="placeholder=#{reg.userNplaceholder}" th:field="*{login}"
                                   required minlength="4" maxlength="30"/>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">[[#{reg.password}]]</label><i id="icon1"
                                                                                          class="fas fa-eye"></i>
                            <input type="password" name="password" id="password" class="form-control"
                                   placeholder="***********" th:field="*{password}"
                                   required minlength="4" maxlength="40"/>
                        </div>
                        <div th:object="${userInfo}">
                            <div class="form-group">
                                <label class="font-weight-bold">[[#{reg.name}]]</label>
                                <input type="text" name="name" id="name" class="form-control"
                                       th:attr="placeholder=#{reg.namePlace}" th:field="*{name}"
                                       required minlength="2" maxlength="35"/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold">[[#{reg.surname}]]</label>
                                <input type="text" name="surname" id="surname" class="form-control"
                                       th:attr="placeholder=#{reg.surnamePlace}" th:field="*{surname}"
                                       required minlength="2" maxlength="40"/>
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold">[[#{reg.phone}]]</label>
                                <input type="text" name="phone" id="phone" class="form-control"
                                       placeholder="+380-(xx)-xx-xx-xxx." th:field="*{phone}"
                                       required minlength="13"/>
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <button type="submit" class="custom_buttons btn-block rounded"
                                    style="height:40px;width: 150px;">[[#{reg.signUp}]]
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{blocks/fragments :: footer}"></footer>
<div th:insert="~{blocks/fragments :: scripts}"></div>
<script type="text/javascript">
    function checkLogin(form) {
        url = "[[@{/user/check}]]";

        customerLogin = $("#login").val();

        csrfValue = $("input[name='_csrf']").val();

        params = {login: customerLogin, _csrf: csrfValue};

        $.post(url, params, function (response) {
            if (response == "OK") {
                form.submit();
            } else if (response == "Duplicate") {
                showWarningModal("There is another user with login: " + customerLogin)
            } else {
                showErrorModal("Unknown response from server")
            }
        }).fail(function () {
            showErrorModal("Could not connect to server")
        });
        return false;
    }

    function showModalDialog(title, message) {
        $("#modalTitle").text(title);
        $("#modalBody").text(message);
        $("#myModal").modal();
    }

    function showErrorModal(message) {
        showModalDialog("Error", message);
    }

    function showWarningModal(message) {
        showModalDialog("Warning", message);
    }
</script>
<!-- Modal section-->
<div th:replace="blocks/fragments :: showModal"></div>
<script type="text/javascript" th:src="@{/js/formValidation.js}"></script>
</body>
</html>