<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="blocks/fragments :: head('Registration - SENKO')"></head>
<body>
<div th:replace="blocks/fragments :: navbar"></div>

<div class="container mt-2 mb-4">
    <div class="row justify-content-md-center">
        <div class="col-sm-4 border border-dark shadow rounded pt-2">
            <div class="text-center"><img th:src="@{/assets/favicon.ico}" class="rounded-circle border p-1 mb-1"></div>
            <div class="col-sm-12">
                <form th:action="@{/registration}" th:object="${user}"
                      method="post" id="singnupFrom" onSubmit="return validation();">
                    <!--Call scripts to show info if the user has already seen another input fields-->
                    <div th:if="${error}" id="alert"></div>
                    <div th:if="${error}" class="alert alert-danger text-sm-center">
                        <div>
                            <span th:text="${error}" class="error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">[[#{reg.email}]]</label>
                        <div class="input-group mb-1">
                            <input type="email" name="email" id="email" class="form-control"
                                   placeholder="Enter valid email" th:field="*{email}">
                        </div>
                        <div class="input-group-append d-flex justify-content-center">
                            <button type="button" class="regButton rounded" onClick="return emailCheck();"><i
                                    class="fa fa-envelope"></i></button>
                        </div>
                    </div>
                    <div id="next-form" class="collapse">
                        <div class="form-group">
                            <label class="font-weight-bold">[[#{reg.userName}]] <small class="text-danger">
                                <em>[[#{reg.userNotification}]]</em></small></label>
                            <input type="text" name="username" id="username" class="form-control"
                                   th:attr="placeholder=#{reg.userNplaceholder}" th:field="*{login}">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">[[#{reg.password}]]</label>
                            <input type="password" name="password" id="password" class="form-control"
                                   placeholder="***********" th:field="*{password}">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">[[#{reg.cPassword}]]</label>
                            <input type="password" name="cpassword" id="cpassword" class="form-control"
                                   placeholder="***********">
                            <em id="cp"></em>
                        </div>
                        <div th:object="${userInfo}">
                            <div class="form-group">
                                <label class="font-weight-bold">[[#{reg.name}]]</label>
                                <input type="text" name="name" id="name" class="form-control"
                                       th:attr="placeholder=#{reg.namePlace}" th:field="*{name}">
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold">[[#{reg.surname}]]</label>
                                <input type="text" name="surname" id="surname" class="form-control"
                                       th:attr="placeholder=#{reg.surnamePlace}" th:field="*{surname}">
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold">[[#{reg.phone}]]</label>
                                <input type="text" name="phone" id="phone" class="form-control"
                                       placeholder="+380-(xx)-xx-xx-xxx." th:field="*{phone}">
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-center">
                            <button type="submit" name="submit" class="custom_buttons btn-block rounded"
                                    style="height:40px;width: 150px;">[[#{reg.signUp}]]
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{blocks/fragments :: footer}"></footer>
<div th:insert="~{blocks/fragments :: scripts}"></div>
<script type="text/javascript" th:src="@{/js/formValidation.js}"></script>

</body>
</html>