<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="blocks/fragments :: head('Shopping Cart - SENKO')"></head>
<link rel="stylesheet" th:href="@{/css/shopping-cart.css}"/>
<body>
<!--Scripts-->
<div th:insert="~{blocks/fragments :: scripts}"></div>
<script type="text/javascript">
    contextPath = "[[@{/}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";
</script>
<script th:src="@{/js/shopping-cart.js}"></script>

<!--NavBar-->
<div th:replace="blocks/fragments :: navbar"></div>

<!--Modal-->
<div th:replace="/blocks/modal-fragments :: showModal"></div>

<!--Shopping cart-->
<main class="page">
    <section class="shopping-cart dark">
        <div class="container">
            <div class="block-heading">
                <h2>Your Shopping Cart</h2>
                <p>Make changes and pay</p>
            </div>
            <div class="content">
                <div class="block-heading" th:color="red" th:if="${#lists.isEmpty(orderBaskets)}">
                    <h3>You haven't chosen any products yet</h3>
                    <a th:href="@{'/'}">
                        <button type="button" class="btn btn-primary">Go back to main page
                        </button>
                    </a>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="items" th:each="basketItem, status: ${orderBaskets}">
                            <div class="product" th:with="product = ${basketItem.product}"
                                 th:id="'row' + ${status.count}">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div>
                                            <a class="fas fa-trash link-remove" style="color:red"
                                               th:rowNumber="${status.count}"
                                               th:href="@{'/basket/remove/' +${product.id}}">
                                            </a>
                                        </div>
                                        <img class="img-fluid mx-auto d-block image"
                                             th:src="'/product-images/'+${product.imageURL}" width="130" height="130"/>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-md-5 product-name">
                                                    <div class="product-name">
                                                        <a th:text="${product.title}"
                                                           th:href="@{'/product/' + ${product.alias}}"></a>
                                                        <div class="product-info">
                                                            <div>Vendor: <span
                                                                    class="value">[[${product.vendor.title}]]</span>
                                                            </div>
                                                            <div>Category: <span class="value">[[${product.category.title}]]</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 quantity">
                                                    <div th:replace="/blocks/quantity_control :: quantity_control(${basketItem.quantity}, ${product.id})">
                                                    </div>
                                                    <div class="subtotal" style="float: left;">
                                                        <span>x [[${product.price}]]</span><span>₴</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 price">
                                                    <span class="productSubtotal" style="width:800px; margin:0 auto;"
                                                          th:id="'subtotal' + ${product.id}">[[${basketItem.subtotal}]]</span><span>₴</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--                            <hr/>-->
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4" th:unless="${#lists.isEmpty(orderBaskets)}">
                        <div class="summary">

                            <h3>Summary</h3>
                            <div class="summary-item"><span class="text">Total</span>
                                <span class="price" id="totalAmount"></span>
                            </div>
                            <a th:href="@{'/payment'}">
                                <button value="Checkout"
                                        class="order-button btn-primary btn-lg btn-block">Checkout
                                </button>
                            </a>
                            <div class="d-flex justify-content-center">
                                <a th:href="@{'/'}">
                                    <button type="button" class="btn btn-primary">Go back to main page
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:insert="~{blocks/fragments :: footer}"></footer>
</body>
</html>
