<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/main-tools :: head"></head>

<body>
<div class="container">
    <br>
    <h3>Category List</h3>
    <hr/>
    <div>
        <form th:action="@{/admin/categories/add}" method="get">
            <input type="submit" value="Add Category">
        </form>
    </div>
    <br><br>
    <table class="table table-bordered table-striped">
        <thead style="text-align: center">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Alias</th>
            <th>Image</th>
            <th>Enabled</th>
            <th>Parent category</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody style="text-align: center">
        <tr th:each="category : ${allCategories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.title}"></td>
            <td th:text="${category.alias}"></td>
            <td>
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                                           th:src="'/category-images/'+${category.imageURL}"></div>
            </td>
            <td th:text="${category.enabled}"></td>
            <td th:text="${category?.parent?.title}"></td>
            <td>
                <form th:action="@{/admin/categories/edit/{id}(id=${category.id})}" method="get">
                    <input type="submit" value=Update>
                </form>
            </td>
            <td>
                <form th:action="@{/admin/categories/{id}/delete(id=${category.id})}" method="post">
                    <input type="submit" value=Delete>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <form th:action="@{/admin}" method="get">
            <input type="submit" value="Return to mage page">
        </form>
    </div>
    <br>
</div>
</body>
</html>