<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update category</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <br>
    <h3>Update Product</h3>
    <hr/>
    <form th:action="@{/admin/allCategories/{id}(id=${updateCategory.id})}" th:object="${updateCategory}" method="post">
        <table class="table table-bordered table-striped">
            <thead style="text-align: center">
            <tr>
                <th>Title</th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            <tr>
                <td>
                    <label>
                        <input type="text" th:field="*{title}">
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <input type="submit" value="Update">
        </div>
        <br>
    </form>
    <div>
        <form th:action="@{/admin/allCategories}" method="get">
            <input type="submit" value="Return to category page">
        </form>
    </div>
    <br>
</div>
</body>
</html>