<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="blocks/fragments :: head('Home - SENKO')"></head>
<body>
<div class="wrapper" th:fragment="navbar">
    <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content1">
            <div class="logo"><a href="/">SENKO</a></div>
            <ul class="links">
                <li><a th:href="@{/}">Home</a>
                    <!--                    <a th:href="@{/}"><img th:src="@{/img/test_logo.png}" width="130" height="30"/></a>-->
                </li>
                <li>
                    <a href="/category" class="desktop-link">Categories</a>
                    <input type="checkbox" id="show-categories">
                    <label for="show-categories">Categories</label>
                    <ul>
                        <li><a href="#">Test drop menu 2 </a></li>
                        <li><a href="#">Test drop menu 3 </a></li>
                        <li><a href="#">Test drop menu 4 </a></li>
                        <li>
                            <a href="#" class="desktop-link">More products</a>
                            <input type="checkbox" id="show-products">
                            <label for="show-products">More products</label>
                            <ul>
                                <li><a href="#">Test sub menu 1 </a></li>
                                <li><a href="#">Test sub menu 2 </a></li>
                                <li><a href="#">Test sub menu 3 </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </div>
        <form th:action="@{/basket}" method="get" class="show-cart">
            <button type="submit" class="shopping-cart-button" data-toggle="shopping-cart-dropdown">
                <i class="fa fa-shopping-cart"></i>
                <span class="text">Cart</span>
            </button>
        </form>
        <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
        <form action="#" class="search-box">
            <input type="text" placeholder="Search product..." required>
            <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
    </nav>
</div>
</body>
</html>