<!DOCTYPE html>
<html lang="en">
<head th:replace="blocks/fragments :: head('Error modal - SENKO')"></head>
<body>
<!-- Modal -->
<div th:fragment="showModal" class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle">Warning</h4>
            </div>
            <div class="modal-body">
                <span id="modalBody">This is content</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
</body>
</html>
