<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="button_plus" th:fragment="quantity_control(qtyValue, productId)">
    <nav>
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link minusButton" href="" th:pid="${productId}"><b>-</b></a>
            </li>

            <li class="page-item">
                <input type="text" th:value="${qtyValue}" class="form-control text-center"
                       onkeydown="return false;" style="max-width: 55px"
                       th:id="'quantity'+${productId}"/>
            </li>

            <li class="page-item">
                <a class="page-link plusButton" href="" th:pid="${productId}"><b>+</b></a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>