<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/main-tools :: head"></head>

<body>
<div class="container">
    <br>
    <h3>Order List</h3>
    <hr/>
    <br><br>
    <table class="table table-bordered table-striped">
        <thead style="text-align: center">
        <tr>
            <th>Order ID</th>
            <th>Order status</th>
            <th>Shipping type</th>
            <th>City</th>
            <th>Address</th>
            <th>Total price</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody style="text-align: center">
        <tr th:each="order : ${allOrders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order?.orderStatus?.orderType}"></td>
            <td th:text="${order.shippingType}"></td>
            <td th:text="${order.city}"></td>
            <td th:text="${order.address}"></td>
            <td th:text="${order.totalPrice}"></td>
            <td>
                <form th:action="@{/admin/allOrders/{id}(id=${order.id})}" method="get">
                    <input type="submit" value=Update>
                </form>
            </td>
            <td>
                <form th:action="@{/admin/allOrders/{id}/delete(id=${order.id})}" method="post">
                    <input type="submit" value=Delete>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <form th:action="@{/admin}" method="get">
            <input type="submit" value="Return to mage page">
        </form>
    </div>
    <br>
</div>
</body>
</html>