<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blocks/main-tools :: head"></head>

<body>
<div class="container">
    <br>
    <h3>Update Order</h3>
    <hr/>
    <form th:action="@{/admin/orders/save(id=${updateOrder.id})}" th:object="${updateOrder}" method="post">
        <table class="table table-bordered table-striped">
            <thead style="text-align: center">
            <tr>
                <th>Order status</th>
                <th>Shipping type</th>
                <th>City</th>
                <th>Address</th>
                <th>Total price</th>
            </tr>
            </thead>
            <tbody style="text-align: center">
            <tr>
                <td>
                    <select name="orderStatus">
                        <option th:each="orderStatus : ${T(com.khomsi.site_project.entity.OrderType).values()}"
                                th:value="${orderStatus}" th:text="${orderStatus}"></option>
                    </select>
                </td>

                <td>
                    <select th:field="*{shippingType}">
                            <option th:value="0">Укр почта</option>
                            <option th:value="1">Новая почта</option>
                    </select>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{city}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{address}">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{totalPrice}">
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <input type="submit" value="Update">
        </div>
        <br>
    </form>
    <div>
        <form th:action="@{/admin/orders}" method="get">
            <input type="submit" value="Return to product page">
        </form>
    </div>
    <br>
</div>
</body>
</html>